<form [formGroup]="registerForm" (ngSubmit) = "signup()">
    <h2 class="text-center text-primary">Sign Up</h2>
    <h4 class="text-center text-primary">Lets find your Teddy, my buddy</h4>
    <hr>

    <div class="form-group">
      <label class="control-label" style="margin-right:10px">I am a: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="gender">Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="gender">Female
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="other" formControlName="gender">Other
      </label>
    </div>
  
    <div class="form-group">
      <input type="text" 
       [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}"
       class="form-control" formControlName="name" placeholder="Full Name">
       <div class="invalid-feedback">Enter your Full Name</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('dateOfBirth').errors && registerForm.get('dateOfBirth').touched}" class="form-control"
        placeholder="Date of Birth" formControlName="dateOfBirth" type="date" >
      <div class="invalid-feedback" *ngIf="registerForm.get('dateOfBirth').touched && registerForm.get('dateOfBirth').hasError('required')">Date of Birth is required</div>
    </div>

    <div class="form-group">
      <input [ngClass]="{'is-invalid': registerForm.get('fullName').errors && registerForm.get('fullName').touched}" class="form-control"
        placeholder="Username/Login name" formControlName="fullName">
      <div class="invalid-feedback" *ngIf="registerForm.get('fullName').touched && registerForm.get('fullName').hasError('required')">Username is required</div>
    </div>

    <div class="form-group">
      <input type="email" 
       [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
       class="form-control" formControlName="email" placeholder="Email ID">
       <div class="invalid-feedback">Enter your Email ID correctly</div>
    </div>



    <div class="form-group">
      <label class="control-label" style="margin-right:10px">Interested in: </label>
      <label class="radio-inline">
        <input class="mr-3" type="radio" value="male" formControlName="interestedIn">Male
      </label>
      <label class="radio-inline ml-3">
        <input class="mr-3" type="radio" value="female" formControlName="interestedIn">Female
      </label>
    </div>
  
    <div class="form-group">
      <input type="password" 
       [ngClass]="{'is-invalid': registerForm.get('password').errors 
       && registerForm.get('password').touched}"
       class="form-control"  formControlName="password" placeholder="Password">
       
       <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('required') 
       && registerForm.get('password').touched">Password field is required</div>
       
       <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('minlength') 
       && registerForm.get('password').touched">Password must be atleast 5 characers</div>

        <div class="invalid-feedback" *ngIf="registerForm.get('password').hasError('maxlength') 
        && registerForm.get('password').touched">Password cannot exceed 12 characers</div>

    </div>
  
    <div class="form-group">
      <input type="password" 
       [ngClass]="{'is-invalid': registerForm.get('confirmPassword').errors 
       && registerForm.get('confirmPassword').touched
       || registerForm.get('confirmPassword').touched
       && registerForm.hasError('mismatch')}"
       class="form-control"  formControlName="confirmPassword" placeholder="Confirm Password">

       <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword').hasError('required') 
       && registerForm.get('confirmPassword').touched">Retype the password entered before</div>

        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword') 
        && registerForm.get('confirmPassword').touched">Password must match</div>


    </div>

    <div class="form-group text-center">
      <button class="btn btn-default" [disabled]="!registerForm.valid" style="margin:10px;" type="submit">Sign Up</button>
      <button class="btn btn-default" style="margin:5px;" type="button" (click)="cancel()">Cancel</button>
    </div>
    
  </form>

<p>Form Value: {{registerForm.value | json}}</p>
<p>Form Status: {{registerForm.status | json}}</p>
