    <div class="container mt-4">
    <div class="row">
        <div class="col-sm-4">
            <h1>Your Profile</h1>
        </div>
        <div class="col-sm-8">
            <div *ngIf="editForm.dirty" class="alert alert-info">
                <strong>Information: </strong>You have made changes. Any unsaved changes will be lost
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
            <img class="card-img-top img-thumbnail" src="{{photoUrl || '../../../assets/user.png'}}" alt="{{user.fullName}}">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                      <p>{{user.currentCity | titlecase}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                      <p>{{user.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                      <p>{{user.lastSeen | timeAgo}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                      <p>{{user.accCreated | date: 'mediumDate'}}</p>
                </div>
            </div>
            <div class="card-footer">
                    <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-block">Save to Update</button>
            </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="tab-panel">
                <tabset class="member-tabset">
                    <tab heading="Edit Profile">
                        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
                            
                            <label for="bio">Bio</label>
                            <textarea name="bio" rows="6" class="form-control"
                                [(ngModel)]="user.bio"></textarea>     
                                <!-- [(ngModel)]="user.property" name="property" -->
                            
                            <label for="currentCity">Current City</label>
                            <input type="text"  name="currentCity" rows="6" class="form-control"
                            [(ngModel)]="user.currentCity">

                            <label for="raisedCity">Raised City</label>
                            <input type="text"  name="raisedCity" rows="6" class="form-control"
                            [(ngModel)]="user.raisedCity">
                            
                            

                            <label for="religion">Religion</label>
                            <select id="religion" name="religion" rows="6"
                                [(ngModel)]="user.religion" class="form-control">
                                <option value="Atheist">Atheist</option>
                                <option value="Buddhist">Buddhist</option>
                                <option value="Christian">Christian</option>
                                <option value="Hindu">Hindu</option>
                                <option value="Jain">Jain</option>
                                <option value="Jewish">Jewish</option>
                                <option value="Muslim">Muslim</option>
                                <option value="Sikh">Sikh</option>
                                <option value="Spritual">Spritual</option>
                                <option value="Other">Other</option>
                            </select>
                            
                            <label for="relationshipStatus">Relationship Status</label>
                            <select id="relationshipStatus" name="relationshipStatus" rows="6"
                                [(ngModel)]="user.relationshipStatus" class="form-control">
                                <option value="Single">Single</option>
                                <option value="In a Relationship">In a Relationship</option>
                                <option value="In an open Relationship">In an open relationship</option>
                                <option value="Engaged">Engaged</option>
                                <option value="Married">Married</option>
                                <option value="Single Parent">Single Parent</option>
                                <option value="Divorved">Divorved</option>
                                <option value="Widowed">Widowed</option>
                            </select>


                            <label for="lookingFor">Looking For</label>
                            <select id="lookingFor" name="lookingFor" rows="6"
                                [(ngModel)]="user.lookingFor" class="form-control">
                                <option value="Relationship">Relationship</option>
                                <option value="Something Casual">Something Casual</option>
                                <option value="Marriage">Marriage</option>
                                <option value="dont know">Don't know yet</option>
                            </select>
                           
                            
                            <label for="interestedIn">Interested In</label>
                            <div class="custom-control custom-radio">
                                <input id="male" type="radio" class="custom-control-input" value="male" name="gender"[(ngModel)]="user.interestedIn">
                                <label class="custom-control-label" for="male">Male</label>
                            </div>
    
                            <div class="custom-control custom-radio">
                                <input id="female" type="radio" class="custom-control-input" value="female" name="gender" [(ngModel)]="user.interestedIn">
                            <label class="custom-control-label" for="female">Female</label>
                            </div>


                            <label for="email">Email</label>
                            <input type="email"  name="email" rows="6" class="form-control"
                            [(ngModel)]="user.email">
                        </form>
                    </tab>
                    <tab heading="Edit Photos">
                        <app-photo-editor [photos]="user.photos" (mainPhotoChangeImmediate)="updateMainPhoto($event)"></app-photo-editor>
                    </tab>            
                </tabset>
            </div>
        </div>
    </div>
</div>